<div class="sticky bottom-0 mx-4 py-1 px-2 text-sm rounded-lg left-0 right-0 bg-accent shadow text-white">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-center gap-1 font-normal">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
              </svg>
            <i class="fa fa-cart-plus" id="pop_nav_count"></i>
            <span id="cartCounter">0</span> Items
        </div>

        <form action="/cart/" method="get" class="grow">
            {% csrf_token %}
            <input name="cartInput" type="text" id="cartInput" hidden>
            <button type="submit" id="visitCartPage" class=" text-lg" style="width: 100%; text-align: right;">
                Place order
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                </svg>                          
            </button>
        </form>
    </div>
</div>