{% extends 'store/base.html' %}
{% block content %}
    <div class="px-4">
        {% include 'store/header.html' %}
        {% include 'store/sweeper.html' %}
    </div>

    <div class="bg-secondary rounded-xl relative px-4 py-8">
         
        <div>
            <h2 class="text-2xl font-semibold text-center text-info">Crave-worthy dishes from your <span class="font-extrabold tracking-wide block">Favourite Outlets.</span></h2>
            <div class="flex justify-center flex-wrap flex-row-reverse gap-2 mt-4" >
                <a href="/"><button type="button" class="btn btn-sm btn-outline btn-primary">All</button></a>
                {% for r in restaurents %}
                    <a href="/?shop={{r.id}}"><button type="button" class="btn btn-sm btn-outline btn-primary">{{r.name}}</button></a>
                {% endfor %}
            </div>


            {% comment %} <div class="flex items-center gap-8 mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
                </svg>

                <div class="form-control grow">
                    <select class="input bg-Yellow input-bordered border-black">
                        <option value="" class="">All</option>
                        <option value="" class="">Khare's Kitchen</option>
                        <option value="" class="">Nani Ke samose</option>
                    </select>
                </div>
            </div> {% endcomment %}
        </div>

        <div class="restaurent-listing flex flex-col gap-y-8 mt-8">

            {% for key in data %}
                {% include 'store/p_items.html' %}
            {% endfor %}
        </div>


        {% include 'store/cart-btn.html' %}

    </div>

    {% include 'store/footer.html' %}
{% endblock %}