{% extends 'store/base.html' %}
{% block content %}
    <div class="px-4">
        {% include 'store/header.html' %}
        {% include 'store/sweeper.html' %}
    </div>

    <div class="bg-secondary rounded-xl relative px-4 py-8">

        <div>
            <h2 class="text-2xl font-semibold text-center">Crave-worthy dishes from your <span class="font-semibold text-info block">Favourite Outlets.</span></h2>
            <div class="flex justify-center flex-wrap flex-row-reverse gap-2 mt-4" >
                <a href="/"><button type="button" class="btn btn-sm btn-outline btn-primary">All</button></a>

                {% for r in restaurents %}
                    <a href="/?shop={{r.id}}"><button type="button" class="btn btn-sm btn-outline btn-primary">{{r.name}}</button></a>
                {% endfor %}
            </div>


            <!-- <div class="flex items-center gap-8 mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
                </svg>

                <div class="form-control grow">
                    <select class="input bg-Yellow input-bordered border-black">
                        <option value="" class="">All</option>
                        <option value="" class="">Khare's Kitchen</option>
                        <option value="" class="">Nani Ke samose</option>
                    </select>
                </div>
            </div> -->
        </div>

        <div class="restaurent-listing flex flex-col gap-y-8 mt-8">

            {% include 'store/dishes.html' %}

            <div>
                <div class="collapse collapse-arrow {% if not key.0.is_open %} opacity-90 {% endif %}">
                    <input type="checkbox" name="my-accordion-3"/>
                    <div class="collapse-title text-lg font-semibold text-info">More from {{product.shop.name}}</div>
                    <div class="collapse-content flex flex-col gap-y-4">
                        {% for product in more %}
                            {% include 'store/dishes.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="mb-4">
                <h2 class="text-xl font-semibold text-info">Customer reviews</h2>

                <div class="review-wrapper p-4 text-accent">
                    <div class="review-container flex flex-col gap-y-4">
                        {% if reviews %}
                            {% for r in reviews %}
                                <div class="review">
                                    <div class="flex justify-between items-center">
                                        <div class="flex gap-x-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                            </svg>
                                            <span class="font-semibold">{% if r.user %}  {{r.user.first_name}} {% else %} AnonymousUser {% endif %}</span>
                                        </div>
                                        <p class="text-xs">{{r.careted_at}}</p>
                                    </div>
                                    <div class="mt-2">
                                        <p>{{r.review}}</p>
                                    </div>
                                </div>
                            {% endfor %} 
                        {% else %}
                            <h2 class="text-sm font-semibold">No public reviews available for this product.</h2>
                        {% endif %}
    
                    </div>

                    <div class="post-review mt-8">
                        <form class="form-control" method="get" action="/post-review/{{product.id}}/">
                            <h2 class="text-sm font-semibold">Post your review</h2>
                            <label class="flex items-center gap-2 rounded-lg justify-between">
                                <input  type="text" name="feedback" class="input input-md input-bordered input-accent bg-transparent grow " placeholder="write your review..." required/>
                    
                                <button type="submit" class="btn btn-outline btn-accent btn-md h-full ">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                                    </svg>
                                </button>
                            </label>
                    
                        </form>
                    </div>
                </div>

            </div>

        </div>


        {% include 'store/cart-btn.html' %}

    </div>

    {% include 'store/footer.html' %}
{% endblock %}