{% extends 'store/base.html' %}
{% load static %}
{% block content %}

    <div class="px-4 text-white">
        {% include 'store/header.html' %}
        {% include 'store/sweeper.html' %}
    </div>
        
    <div class="bg-secondary text-accent rounded-xl relative px-4 py-8">

        <div class="mt-4 mb-8">
            <h2 class="text-2xl text-center font-bold text-accent">Terms and Conditions </h2> 
        </div>

        <div class="mb-4">
           <p class="py-2 text-info font-semibold">1. Introduction</p>
           <p>
            Welcome to CRAVIES!<br>
            These Terms and Conditions govern your use of our website and services. By accessing or using our website, you agree to comply with and be bound by these Terms and Conditions.
           </p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">2. Eligibility</p>
            <p>To use our Services, you must be at least 18 years old or have parental or guardian consent. By using our Services, you represent and warrant that you meet these eligibility requirements.</p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">3. Ordering and Payment</p>
            <p>
                <span class="text-info font-medium">Order Placement:<span> All orders placed through our website are subject to acceptance. We reserve the right to refuse any order at our discretion.<br>
                <span class="text-info font-medium">Payment:<span> Payments must be made as specified during the order placement.<br>
                <span class="text-info font-medium">Pricing:<span> Prices are subject to change without notice. The price of your order will be the price indicated at the time of order placement.<br>
            </p>
        </div> 


        <div class="mb-4">
            <p class="py-2 text-info font-semibold">4. Delivery</p>
            <p>
                <span class="text-info font-medium">Delivery Areas:<span> We deliver to anywhere inside the BBD Lucknow College campus premises. Orders placed for addresses outside these areas may not be fulfilled.<br>
                <span class="text-info font-medium">Delivery Times:<span> Estimated delivery times are provided for your convenience and may vary due to unforeseen circumstances.<br>
                <span class="text-info font-medium">Delivery Charges:<span> Delivery charges may apply and will be displayed at the time of order placement.<br>
            </p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">5. Cancellations and Refunds</p>
            <p>
                <span class="text-info font-medium">Cancellations: <span> For now, cancellations through our platform are not provided. If there is an issue with the order that is delivered to you, you can contact our <a href="/contact">customer support.</a> Our customer care representatives will talk to the respective outlets and mutually decide on the refund, exchange, or cancellation. The decision of the customer support representative will be final and binding.<br>
                <span class="text-info font-medium">Refunds:<span> Your refunds will be generated from the providers, not us. We act solely as a connection between you and your chosen provider. Refunds will be issued in the original form of payment and may take [X days/weeks] to process. Refunds will be provided at the provider's discretion for valid reasons such as incorrect or damaged items.<br>
            </p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">5. Cancellations and Refunds</p>
            <p>
                <span class="text-info font-medium">Cancellations: <span> For now, cancellations through our platform are not provided. If there is an issue with the order that is delivered to you, you can contact our <a href="/contact">customer support.</a> Our customer care representatives will talk to the respective outlets and mutually decide on the refund, exchange, or cancellation. The decision of the customer support representative will be final and binding.<br>
                <span class="text-info font-medium">Refunds:<span> Your refunds will be generated from the providers, not us. We act solely as a connection between you and your chosen provider. Refunds will be issued in the original form of payment and may take [X days/weeks] to process. Refunds will be provided at the provider's discretion for valid reasons such as incorrect or damaged items.<br>
            </p>
        </div> 


        <div class="mb-4">
            <p class="py-2 text-info font-semibold">6. Allergies and Dietary Restrictions</p>
            <p>
                We strive to accommodate all dietary needs, but we cannot guarantee that our products are free from allergens. It is your responsibility to inform us of any allergies or dietary restrictions at the time of order placement.
            </p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">7. Role and Responsibility</p>
            <p>
                We are a food ordering and delivery service. We do not prepare the food. The food is prepared by the restaurants, canteens, or outlets ("Providers") you order from. We are responsible only for delivering the order from your chosen Providers to your location.<br>
                
                <span class="text-info font-medium">Food Quality and Safety: <span> Any issues related to the food quality, allergies, or health issues arising from the consumption of the food are the responsibility of the respective Providers. We are not liable for any such issues.<br>
                <span class="text-info font-medium">Health Concerns: <span> If you have any health concerns or allergies, it is your responsibility to contact the Provider directly or contact us and we will arrange for the same, to confirm the suitability of their food for your consumption.<br>
                <span class="text-info font-medium">Refund(*continued): <span> Our customer care representatives will talk to the respective outlets and would decide mutually for the refund, exchange or cancellation. Your refunds will be generated from the providers not us. We only are a connection between you and your chosen provider and would connect you if you have concerns over food too.<br>
            </p>
        </div> 



        <div class="mb-4">
            <p class="py-2 text-info font-semibold">8. User Accounts</p>
            <p>
                <span class="text-info font-medium">Registration: <span> You may need to create an account to use some of our Services. You are responsible for maintaining the confidentiality of your account information.<br>
                <span class="text-info font-medium">Account Termination: <span> We reserve the right to terminate or suspend your account at any time for any reason, including but not limited to violation of these Terms and Conditions.<br>
            </p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">9. Intellectual Property</p>
            <p>
                All content on our website, including text, graphics, logos, and images, is the property of CRAVIES or its content suppliers or third-party suppliers and is protected by intellectual property laws.
            </p>
            <p>
                <span class="text-info font-medium">Third-Party Images:</span> We acknowledge that some images on our website may have been sourced from online sources without proper licenses or permissions. We are actively working to replace these images with properly licensed or freely available alternatives. If you believe that any image on our website infringes on your intellectual property rights, please contact us immediately at [Your Contact Information], and we will promptly address the issue.<br>
                <span class="text-info font-medium">User Rights:</span> You are granted a limited license to access and use the content on our website for personal, non-commercial purposes. You may not modify, reproduce, distribute, or use any content from our website without obtaining prior written permission from us or the respective content owner.<br>
                <span class="text-info font-medium">Attribution:</span> Where required, we strive to provide appropriate attribution to the creators of third-party images used on our website. If you use any images from our website, you must retain all copyright and other proprietary notices contained in the original materials.<br>
                <span class="text-info font-medium">Prohibited Uses:</span> Unauthorized use of any content on our website, including third-party images, may violate copyright, trademark, and other laws. You agree not to use any content from our website for any unlawful or infringing purposes.<br>
            </p>
        </div> 
    
        <div class="mb-4">
            <p class="py-2 text-info font-semibold">10. Limitation of Liability</p>
            <p>
                To the fullest extent permitted by law, Cravies shall not be liable for any indirect, incidental, special, or consequential damages arising from your use of our Services or any products purchased through our website.
            </p>
        </div> 

        <div class="mb-4">
            <p class="py-2 text-info font-semibold">11. Governing Law</p>
            <p>
                These Terms and Conditions shall be governed by and construed in accordance with the laws of India.
            </p>
        </div> 


        <div class="mb-4">
            <p class="py-2 text-info font-semibold">12. Changes to Terms and Conditions</p>
            <p>
                We reserve the right to update or modify these Terms and Conditions at any time. Any changes will be effective immediately upon posting on our website. Your continued use of our Services constitutes acceptance of the revised Terms and Conditions.
            </p>
        </div> 


        <div class="mb-4">
            <p class="py-2 text-info font-semibold">13. Contact Us</p>
            <p>
                <span class="text-info font-medium">Phone: <a href="tele:+919569919438">+91 956 991 9438</a><span> <br>
                    {% comment %} <span class="text-info font-medium">Email: <a href="mailto:">someone#gmail.com</a> <span> <br> {% endcomment %}
            </p>
        </div> 



        

    </div>


    {% include 'store/footer.html' %}
{% endblock %}